.home{
  background-image: url("../images/holo2.jpg");
  background-position: center;
  background-repeat: left;
  background-size: cover;
  min-height: 780px;
  min-width: 100%;
  border: 1px solid grey;
  opacity: .8;
}
.home .intro{
  min-height: 250px;
  width: 600px;
  margin-top: 100px;
  margin-left: 400px;
  padding-top:10px;
  border-radius: 30px;
  border: 1px solid lightblue;
}
