.onepage{
  background-color: #E8E7E9;
}
h1{
  text-align: center;
  padding-top: 20px;
  font-family: fantasy;
  font-size: 80px;
  color: #534E54;
}
.webpage{
  float: left;
  margin-left: 50px;
  width: 400px;
  border:2px solid grey;
  border-radius: 10px;
  box-shadow: 4px white;
}
